body {
  margin: 0;
  padding: 0;
  background-image: url("nature.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-color: rgba(255, 255, 255, 0.9); 
  font-family: Arial, sans-serif;
  color: lightgray;
}

.no-bullets {
  list-style: none;
  padding: 0;
  display: flex;
}

.nav-link {
  text-decoration: none;
  color: #fff; 
  background-color: #559b4e; 
  padding: 10px 20px; 
  margin: 0 10px; 
}

header {
  background: rgba(0, 0, 0, 0.5); 
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

mark.highlight-green {
  background-color: #559b4e; 
  color: #fff; 
  padding: 2px;
}

.logo {
  display: flex;
  align-items: center;
}

.fa-shield-halved {
  font-size: 80px; 
  margin-right: 10px; 
}

main {
  text-align: center;
  padding: 50px;
}

h2 {
  font-size: 80px; 
}

p.lighter-text {
  font-size: 40px; 
  color: lightgray; 
  background: rgba(0, 0, 0, 0.5) ;
}

button {
  background-color: #559b4e; 
  color: #fff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
}
